<%= render "head" %>

<div class="image_congressperson">
    <%= link_to @image do %>
        <%= image_tag "https://www.camara.leg.br/internet/deputado/bandep/#{@ide_cadastro}.jpg".freeze, class: "rounded mx-auto d-block" %>
    <% end %>
</div>
<div class="card_despesas">
    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <h5 class="card-header">Principais Informações</h5>
        <div class="card-body">
            <p class="card-text">Somatório de despesas: R$<%= @sumarize_expenses %></p>
            <p class="card-text">Maior despesa: R$ <%= @max_expense %></p>
        </div>
    </div>
</div>

<div>
    <h1>Lista de Despesas</h1>
    <table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Data de emissão</th>
            <th>Estabelecimento</th>
            <th>Valor Líquido</th>
        </tr>
    </thead>
    <tbody>
        <% @list_expenses.each do |expense| %>
        <tr>
            <td><%= expense.datEmissao  %></td>
            <td><%= expense.txtFornecedor  %></td>
            <td><%= expense.vlrLiquido  %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<div class="paginate_congresspeople">
    <%= paginate @list_expenses %>
</div>
</div>